<div class="section-show">
  <div class="banner">
    <div class="container">
      <h1>Misty cocktail brings <strong>amazing cocktails</strong> from <strong>fine ingredients</strong>!</h1>
      <p>Change your life.</p>
      <%= link_to 'Add a cocktail', new_cocktail_path, class: "btn btn-outline-primary my-0 my-sm-0" %>
    </div>
    <%= image_tag "banner.gif" %>
  </div>
</div>


<div class="section-show">
  <div class="cards-home-cocktail">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1600x900/?cocktail&rand=<%= rand( 9999) %>)">
        <%= cocktail.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    This app is made with <i class="fas fa-heart"></i> in Melbourne.
  </div>
</div>
