<div class="card-container m-auto p-5">
  <h2>Add your Cocktail!</h2>
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.submit "Add cocktail", class: "btn btn-danger" %>
    <%= f.button :button, 'Cancel', type: :reset, class: 'btn btn-primary' %>
  <% end %>
</div>
