<div class="card-container">
  <div class="card-cocktail">
    <img src="https://source.unsplash.com/1600x900/?cocktail&rand=<%= rand( 9999) %>" />
    <div class="card-cocktail-infos">
      <div>
        <%= link_to @cocktail do %>
            <h2><%= @cocktail.name %></h2>
          <% end %>
      </div>
      <p class="card-cocktail-pricing"><%= @cocktail.each |dose|.dose.description %></p>
      <p class="card-cocktail-pricing"><%= @cocktail.ingredient.name %></p>
      <%= link_to "Back to Home Page", cocktails_path, class: 'btn btn-outline-primary'%>
    </div>
  </div>
</div>
