<div class="p-5">
  <div class="card-container text-center">
    <h2><%= @cocktail.name %></h2>
    <br>
    <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>

    <% @cocktail.doses.each do |dose|  %>
      <div class="card-product">
        <div class="card-product-infos">
          <p>Dose: <%= dose.description %> -
            <%= dose.ingredient.name %></p>
            <%= link_to "Delete a dose", dose_path(dose), method: :delete, data: { confirm: "Are you sure to delete #{dose.ingredient.name} ?" }, class: 'btn btn-outline-primary'%>
        </div>
      </div>
    <% end %>
    <div class="card-product-infos text-center">
      <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: 'btn btn-outline-primary'%>
      <%= link_to "Delete Cocktail", cocktail_path, method: :delete, data: { confirm: "Are you sure to delete #{@cocktail.name} ?" }, class: 'btn btn-outline-primary'%>
      <%= link_to "Back", root_path, class: 'btn btn-outline-primary'%>
    </div>
  </div>

</div>


