<!DOCTYPE html>
<html>
  <head>
    <title>Misty Cocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Livvic:300,400&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <h4><%= link_to "Misty Cocktails", cocktails_path %></h4>
      <form class="form-inline">
        <input class="form-control" type="search" placeholder=" Search a cocktail.." aria-label="Search" name="query" >
        <button class="btn btn-outline-primary my-sm-0" type="submit">Search</button>
        </form>
      </form>
    </nav>

    <%= yield %>

    <%= javascript_include_tag "application" %> <!-- from app/assets/javascripts/application.js -->
    <%= javascript_pack_tag "application" %>    <!-- from app/javascript/packs/application.js -->
  </body>
</html>
